@model Barrios.Common.BookingModel
@{
    ViewData["Title"] = "Booking";
    ViewData["PageId"] = "Booking";
}

@section Head {
    @Html.StyleBundle("Pages/Booking")
    @Html.ScriptBundle("Pages/Booking")

    <link rel="stylesheet" href="~/Content/iCheck/flat/blue.css">
    @*<link rel="stylesheet" href="~/Scripts/morris/morris.css">*@
    <link rel="stylesheet" href="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="~/Scripts/datepicker/datepicker3.css">
    <link rel="stylesheet" href="~/Scripts/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <script src="~/Scripts/raphael/raphael-min.js"></script>
    @*<script src="~/Scripts/morris/morris.min.js"></script>*@
    <script src="~/Scripts/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Scripts/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Scripts/knob/jquery.knob.js"></script>
    <script src="~/Scripts/daterangepicker/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/Scripts/adminlte/demo.js"></script>
    @*<script src="~/Scripts/chat/directchat.js"></script>*@
}

@section ContentHeader {
    <h1>@LocalText.Get("Navigation.Dashboard")<small>@Html.Raw(Texts.Site.Dashboard.ContentDescription)</small></h1>
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Estado de reservas de: <div class="dropdown">
    <button class="btn btn-secondary btn-info dropdown-toggle" type="button" id="dropdownRecurso" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Recurso nombre
    </button>
    <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
        @foreach (var obj in Model.Recursos)
        {
            <li><a class="ItemRecurso" id="@obj.Id" href="#">@obj.Nombre</a></li>
        }
    </ul>
</div></h3>
    </div>
    <div class="box-body table-responsive pad">
        
        <table id="Bookingtable"class="table table-bordered">
            <tbody>
                <tr>
                    <th>Button</th>
                    <th>Icons</th>
                    <th>Flat</th>
                    <th>Dropdown</th>
                </tr>
                <!-- Default -->
                <tr>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default">Top</button>
                            <button type="button" class="btn btn-default">Middle</button>
                            <button type="button" class="btn btn-default">Bottom</button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default"><i class="fa fa-align-left"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-align-center"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-align-right"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default btn-flat"><i class="fa fa-align-left"></i></button>
                            <button type="button" class="btn btn-default btn-flat"><i class="fa fa-align-center"></i></button>
                            <button type="button" class="btn btn-default btn-flat"><i class="fa fa-align-right"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default">1</button>
                            <button type="button" class="btn btn-default">2</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dropdown link</a></li>
                                    <li><a href="#">Dropdown link</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr><!-- ./default -->
                <!-- Info -->
                <tr>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-info">Top</button>
                            <button type="button" class="btn btn-info">Middle</button>
                            <button type="button" class="btn btn-info">Bottom</button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-info"><i class="fa fa-align-left"></i></button>
                            <button type="button" class="btn btn-info"><i class="fa fa-align-center"></i></button>
                            <button type="button" class="btn btn-info"><i class="fa fa-align-right"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-info btn-flat"><i class="fa fa-align-left"></i></button>
                            <button type="button" class="btn btn-info btn-flat"><i class="fa fa-align-center"></i></button>
                            <button type="button" class="btn btn-info btn-flat"><i class="fa fa-align-right"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-info">1</button>
                            <button type="button" class="btn btn-info">2</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dropdown link</a></li>
                                    <li><a href="#">Dropdown link</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>  <!-- /. info -->
                <!-- /.danger -->
                <tr>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-danger">Top</button>
                            <button type="button" class="btn btn-danger">Middle</button>
                            <button type="button" class="btn btn-danger">Bottom</button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-danger"><i class="fa fa-align-left"></i></button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-align-center"></i></button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-align-right"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-align-left"></i></button>
                            <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-align-center"></i></button>
                            <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-align-right"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-danger">1</button>
                            <button type="button" class="btn btn-danger">2</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dropdown link</a></li>
                                    <li><a href="#">Dropdown link</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>  <!-- /.danger -->
                <!-- warning -->
                <tr>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-warning">Top</button>
                            <button type="button" class="btn btn-warning">Middle</button>
                            <button type="button" class="btn btn-warning">Bottom</button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-warning"><i class="fa fa-align-left"></i></button>
                            <button type="button" class="btn btn-warning"><i class="fa fa-align-center"></i></button>
                            <button type="button" class="btn btn-warning"><i class="fa fa-align-right"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-warning btn-flat"><i class="fa fa-align-left"></i></button>
                            <button type="button" class="btn btn-warning btn-flat"><i class="fa fa-align-center"></i></button>
                            <button type="button" class="btn btn-warning btn-flat"><i class="fa fa-align-right"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-warning">1</button>
                            <button type="button" class="btn btn-warning">2</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dropdown link</a></li>
                                    <li><a href="#">Dropdown link</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>  <!-- /.warning -->
                <!-- success -->
                <tr>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-success">Top</button>
                            <button type="button" class="btn btn-success">Middle</button>
                            <button type="button" class="btn btn-success">Bottom</button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-success"><i class="fa fa-align-left"></i></button>
                            <button type="button" class="btn btn-success"><i class="fa fa-align-center"></i></button>
                            <button type="button" class="btn btn-success"><i class="fa fa-align-right"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-success btn-flat"><i class="fa fa-align-left"></i></button>
                            <button type="button" class="btn btn-success btn-flat"><i class="fa fa-align-center"></i></button>
                            <button type="button" class="btn btn-success btn-flat"><i class="fa fa-align-right"></i></button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-success">1</button>
                            <button type="button" class="btn btn-success">2</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dropdown link</a></li>
                                    <li><a href="#">Dropdown link</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>  <!-- /.success -->
            </tbody>
        </table>
    </div><!-- /.box-body -->
</div>
<script>
    var Booking;
    jQuery(function () {
        Booking = new Dashboard.Booking($("#dropdownRecurso"), $(".ItemRecurso"), $("#Bookingtable"));
        
    });
</script>
