@model Barrios.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Restablecer contraseña en  @CurrentNeigborhood.Get().LargeDisplayName</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>Recibimos tu consulta para cambiar la contraseña en  @CurrentNeigborhood.Get().Url</p>

    <p>Has click en el siguiente enlace para cambiarla:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>Si tu no has querido cambiar la contraseña de tu cuenta , por favor ignora este mail</p>

    Gracias,
    El equipo de  @CurrentNeigborhood.Get().LargeDisplayName
</body>
</html>