@model Barrios.Membership.ActivateEmailModel

<html>
<head>
    <title>Activa tu cuenta de @CurrentNeigborhood.Get().LargeDisplayName</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>Recibimos tu consulta para crear la cuenta en  @CurrentNeigborhood.Get().LargeDisplayName con este mail.</p>

    <p>Para activar tu cuenta debes hacer click en el siguiente enlace:</p>

    <p><a href="@Model.ActivateLink">@Model.ActivateLink</a></p>

    <p>Si tu no has querido iniciar una cuenta , por favor ignora este mail</p>

    Gracias,
    El equipo de  @CurrentNeigborhood.Get().LargeDisplayName
</body>
</html>