@model Barrios.Administration.Entities.UserRow

<html>
<head>
    <title>Usuario activado.</title>
</head>
<body>
    <p>El nuevo usuario con el nombre @Model.DisplayName de la unidad: @Model.Unit, se registro el @DateTime.Now.ToString("dd/MM/yyyy HH:mm") hs.</p>

    <p>Por favor revice su informacion y autorice los permisos correspondientes.</p>

    <p>El Id del usuario es: @Model.UserId con el email: @Model.Email</p>

    <p>Atte</p>

    <p>Saludos</p>

    <p>Sistema</p>

</body>
</html>