@model System.Collections.Generic.List<Barrios.Contenidos.Entities.EncuestasRow>
@{
    var categorys = new List<string>();
    ViewData["Title"] = "Encuestas"; //Serenity.LocalText.Get("Db.Contenidos.ProveedoresValoraciones.EntityPlural");
}
<div class="containerSurveys">
    <h3 class="titleContainer">
        Ideas y propuestas para mejorar el funcionamiento del barrio.
    </h3>
    <h4 class="subtitleContainer">
        En esta sección proponemos encuestas para valorar diversas ideas y propuestas para la mejora y mantenimiento del barrio.<br />

        Estas ideas podrán presentarse en la próxima reunión para debatirlas.<br />

        Para participar indicá tu valoración en cada ítem. El resultado que aparece es el promedio alcanzado por cada propuesta.<br />

        <div class="dropdown">
            <button class="btn btn-secondary btn-info dropdown-toggle" type="button" id="CategoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar por rubro
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                @foreach (var aux in Model)
                {
                    if (!categorys.Contains(aux.CategoryName))
                    {
                        categorys.Add(aux.CategoryName);
                        <li><a class="CategoryItem" id="@aux.CategoryName.Replace(" ","_")" href="#">@aux.CategoryName</a></li>
                    }
                }
                <li><a class="CategoryItem" id="todos" href="#">Todos</a></li>
            </ul>
        </div>
    </h4>
    @foreach (var aux in Model)
    {
        <article class="articleItem @aux.CategoryName">
            <section class="title">
                <h4>@aux.Nombre </h4> <h5> - @aux.CategoryName</h5> <h6 class="fa fa-star">@aux.TotalRating()</h6>
            </section>
            <p>@aux.Descripcion</p>
            <div class="dropdown">
                <button class="btn btn-secondary btn-success dropdown-toggle ItemRecurso" type="button" id="@aux.Id,@aux.ValoracionId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @aux.ComboBoxTextValoration()
                </button>
                
            </div>
        </article>
    }

</div>
    <script type="text/javascript">
        
        jQuery(function () {
            $(".ItemRecurso").click((element) => { ShowCommentDialog(element.target) });
            $(".CategoryItem").click((element) => {
                if (element.target.id == "todos") {
                    $(".articleItem").show();
                }
                else {
                    $(".articleItem").hide();
                    $("." + element.target.id).show();
                }
            });
        });
        function ShowCommentDialog(control) {
            try {
                var ids = control.id.split(',', 2);
                var dialog = new Barrios.Contenidos.EncuestasValoracionesDialog();
                dialog.saveSucces = () => {
                    location.reload();
                };
                if (ids[1] == 0) {

                    dialog.loadNewAndOpenDialog();
                    dialog.SetSurveyId(ids[0]);
                }
                else
                    dialog.loadByIdAndOpenDialog(ids[1]);
            }
            catch (err) {
                alert(err);
            }
        };
        function SeeMore(id) {
            try {
                Barrios.Contenidos.EncuestasService.SeeMore({
                    EntityId: id
                }, (response) => {
                    Q.information(response, () => { });
                });
            }
            catch (err) {
                alert(err);
            }
            return true;
        };    
    </script>
