@model System.Collections.Generic.List<Barrios.Contenidos.Entities.LineaTiempoRow>
@{
    ViewData["Title"] = "Linea de tiempo"; //Serenity.LocalText.Get("Db.Contenidos.ProveedoresValoraciones.EntityPlural");
}
<h2 class="contentTitle">Históricos <small class="contentSubTitle">Informes y novedades historicas con archivos adjuntos o no. </small></h2>
<div class="box dark containerTimeLine">
    
    <table class="table table-custom">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Periodo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Texto</th>
                <th scope="col">Archivo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aux in Model)
            {
                <tr>

                    <th class="cellTitle">@aux.Nombre</th>
                    <td>@aux.PeriodoFecha.Value.ToString("yyyy/MM")</td>
                    <td>@aux.CategoryName</td>
                    <td>@Html.Raw(@aux.ContenidoTexto)</td>

                    <td>
                        @if (!aux.ArchivoFilename.IsEmptyOrNull())
                        {
                            <a class="fa @aux.ClassForExtension() btn btn-info " href="~/Upload/@aux.ArchivoFilename" target="_blank"></a>
                        }
                    </td>



                </tr>
            }
        </tbody>
    </table>
        
</div>
        <script type="text/javascript">
            jQuery(function () {
                // new Barrios.Views.ProveedoresViewGrid($('#GridDiv'), {}).init();

                // Q.initFullHeightGridPage($('#GridDiv'));
            });
        </script>
